body{
    color:black;
    background:#FFE642;
    margin:0px;
    font-family: "Playfair Display", serif;
}

header{
 border-bottom: solid 2px #F2B67E;
padding: 20px;
font-size:32px;
color:black;
}
.chamada{
    background: white; 
    padding-bottom:80px;
    padding-top:-80px;
    display:flex;
    justify-content: center;
}
.chamada-texto{
margin-right:5%;
}
iframe{
    border: 2px black solid;
}

img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
padding-left:20px;
padding-right:20px;
margin-top:50px
}
.categoria-videos img {
    opacity:1.0;
    border:1px solid white;
}
.categoria h2 {
    color: rgb(42,122,228);
}